<!doctype html>
<html ng-app="addsong">

<head>
  <title>Hello AngularJS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script src="https://use.fontawesome.com/d97e4c5e8f.js"></script>
  <script src="addsong.js"></script>
  <link rel="stylesheet" type="text/css" href="theme.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./index.html">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./favorites.html">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./toplist.html">Top 25</a>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-plus" aria-hidden="true"></i> Add  <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./addalbum.html">Add Album</a>
            <a class="dropdown-item" href="./addsong.html">Add Song</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container showAlbums" ng-controller="Addsong">
    <div class="row">
      <form novalidate class="simple-form">
        <label>Song Title: <input type="text" ng-model="song.songtitle" /></label><br />
        <label>Choose a album:
          <select name="repeatSelect" id="repeatSelect" ng-model="song.album">
            <option ng-repeat="album in albums" value="{{album.albumid}}">{{album.albumTitle}}</option>
          </select>
        </label><br />
        <label>Favorite: <input type="checkbox" name="favorite" ng-model="song.favorite"></label><br />
        <label>Genre: <input type="text" ng-model="album.genre" /></label><br />
        <input type="submit" class="btn btn-primary" ng-click="create(song)" value="Save" />
        <input type="button" class="btn btn-danger" type="reset" value="Reset" />
      </form>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</html>