<!doctype html>
<html ng-app="demo">
	<head>
		<title>Hello AngularJS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="hello.js"></script>
		<link rel="stylesheet" type="text/css" href="theme.css">
	</head>

	<body>
		<div class="container" ng-controller="Hello">
			<div class="row">
		    <div class="col-4" ng-click="foo($event, album)" ng-repeat="album in albums">
					<img class="albumlogo" ng-src="{{album.albumLogo}}" alt="Album Logo" />
					<h3>{{album.albumTitle}}</h3>
					<h4>{{album.artist}}</h4>
					<label>View Details <input type="checkbox" ng-model="checked" ng-init="checked=false" /></label>
					<!-- Kanske bättre att lägga till ng model till en property i album -->
					<ul ng-if="checked">
						<li ng-repeat="song in album.songs">
							<div ng-show="{{ song.favorite }}">
								<img src="http://i.imgur.com/b9b13Rd.png" />
								<strong> {{ song.songTitle }} </strong>
							</div>
							<div ng-show="{{ !song.favorite }}">
								<strong> {{ song.songTitle }} </strong>
							</div>
							<strong> Rating: {{ song.rating }} </strong><br/>
						</li>
					<ul>
		    </div>
			</div>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>
