.albumlogo{
  height: 250px;
  width: 250px;
}

.showAlbums {
  padding-top: 70px;
}

#starIcon {
  display: inline-block;
}

#songTitle {
  display:inline-block;
}

.song {
  padding-bottom: 35px;
}
